<nb-card>
  <nb-card-header>{{titulo | uppercase}}</nb-card-header>
  <nb-card-body>
    <input type="text"
           [(ngModel)]="peso"
           nbInput
           fullWidth
           fieldSize="giant"
           shape="semi-round"
           status="basic"
           placeholder="Informe o Peso (kg)">
    <nb-layout-column *ngIf="peso">
      <nb-alert status="info">
        <div class="h5 text-center">
          {{litros | number:'1.2-2'}} litros de água por dia.
        </div>
      </nb-alert>
      <nb-list-item *ngFor="let item of recipientes">
        💦 {{litros / item.litro | number:'1.2-2'}} - {{ item?.nome }} ({{item.mililitro}} ml)
      </nb-list-item>
    </nb-layout-column>
  </nb-card-body>
  <nb-card-footer>💦💦💦💦💦💦💦💦💦💦💦</nb-card-footer>
</nb-card>
